<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXlAyFxWXjjMeO9loNyCWyjL-3NVF4FRo</string>
	<key>GCM_SENDER_ID</key>
	<string>272010096791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fox.Budget-Buddy</string>
	<key>PROJECT_ID</key>
	<string>mybudgetbuddy-b9392</string>
	<key>STORAGE_BUCKET</key>
	<string>mybudgetbuddy-b9392.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272010096791:ios:8243f945cd1db3f0dc79d2</string>
</dict>
</plist>